.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.message-display {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}

.message.user {
  background-color: #cfedfc;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.message.user:is(.dark *) {
  background-color: #374151;
  color: #9ca3af;
}

.message.system {
  background-color: #e9ecef;
  align-self: flex-start;
  margin-left: 10px;
  margin-right: auto;
}

.message.system:is(.dark *) {
  background-color: #4b5563;
  color: #9ca3af;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  box-sizing: border-box;
  width: 100%;
}

.chat-input:is(.dark *) {
  background-color: #374151;
  color: #9ca3af;
  border: 1px solid #1f2937;
}

.chat-input::placeholder {
  color: #999;
}

.send-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 40px;
}

.send-button:is(.dark *) {
  background-color: #1f2937;
}

.send-button:hover {
  background-color: #0056b3;
}

.send-icon {
  width: 20px;
  height: auto;
}
