.dashboard-tile {
    min-width: fit-content;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
}

.balance-info-section {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
}

.separator {
    border-top: 1px solid #ddd;
    margin: 10px 0;
    width: 100%;
}

.available-funds {
    font-weight: 600;
    color: #333;
}

.other-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.account-number-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.credit-card-icon {
    width: 20px;
    margin-right: 5px;
}

.transfer-button {
    display: flex;
    justify-content: center;
}
