SECRET_KEY = 'secret_key'

SESSION_COOKIE_SAMESITE = 'None'
SESSION_COOKIE_SECURE = True  # Set to False if you're not using HTTPS

# flask application should only be run in debug mode while in development and should never be used in production
DEBUG_MODE=False
