.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    height: 40px;
    margin: 10px 0;
}

.hamburger-icon {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.layout-content-area {
    display: grid;
    flex-grow: 1;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }
}
