.dropdown-item {
    position: relative;
}

.dropdown-label {
    cursor: pointer;
    transition: font-weight 0.2s ease;
}

.dropdown-label.active {
    font-weight: bold;
}

.dropdown-label:hover {
    font-weight: bold;
}

.dropdown-list {
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 0;
    max-width: max-content;
}

.dropdown-list-item {
    display: block;
    list-style: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.dropdown-list-item:hover {
    background-color: #f0f0f0;
    font-weight: bold;
}

.dropdown-list-item a {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    display: block;
    transition: font-weight 0.2s ease;
}

.dropdown-list-item a:hover {
    background-color: #f1f1f1;
}
