.tile {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 -2px 8px rgba(255, 255, 255, 0.8);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 12px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  transition: box-shadow 0.3s ease;
}

.tile:hover {
  /* transform: scale(1.03); */
  /* unable to make transformation without covering anything with z-index greater */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
              0 -4px 12px rgba(255, 255, 255, 0.9);
}

.tile-title {
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ddd;
  font-size: 1.75rem;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

@media (max-width: 768px) {
  .tile {
    margin: 0.5rem;
    padding: 1rem;
  }

  .tile-title {
    font-size: 1.5rem;
  }
}
